@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/DMSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/DMSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/DMSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/DMSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/DMSans-Bold.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #13131f;
}

::-webkit-scrollbar-thumb {
  background: #986dff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8257e6;
}
